<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tavoeh.secondfeature">

    <application>
        <activity
            android:name=".presentation.LandingScreen"
            android:exported="false"
            android:label="@string/title_activity_landing_screen" />
    </application>

</manifest>